
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  

}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  width: 1140px;
  display: grid;  
  grid-template-areas: "result details";
  grid-template-columns: auto 1fr;
  gap: 27px;
  align-items: end;
  justify-items: end;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content:  end;
  height:100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  max-height: 386px;
  height: 100%;
  margin-bottom: 19px;
  margin-top: 74px;
}
  
.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  height: 100%;
  display: grid;
  grid-template-areas: "city time button";
  grid-auto-columns: 225px 212px 194px;
  align-items: start;
  justify-content: center;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  gap: 3px;
  border: none;
}

.search-form > .search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 5px;
}

.search-form__label {
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.search-form__textfield {
  max-width: 225px;
  width:100%;
  border: none;
  border-top:  1px solid #FFFFFF;
  border-bottom:  1px solid #FFFFFF;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: inherit;
  appearance: none;
  color: white;
}

.search-form__label:has(.search-form__checkbox:hover) {
text-decoration: underline 1px solid #FFFFFF;
cursor: pointer;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
 border: 1px solid #FFFFFF;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::after {
  content: ""; 
  background-color: #FFFFFF;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display:flex;
  width: 15px;
  height: 15px;
  justify-content: center;
  align-items: center;
  margin-left: 1px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: start;
  justify-items: start ;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #FFFFFF; 
  margin-right: 5px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;  
  letter-spacing: 0%;
  margin-bottom: 5px;
}

button:hover {
  text-decoration: underline solid 1px #FFFFFF;
  cursor: pointer;
}

button:active {
  background-color: #545050;
}

button:focus-visible {
  outline: 1px solid #FFFFFF;
  outline-offset: 1px;
}

.button {
  max-height: 34px;
  height: 100%;
  width: 100%;
  border: 1px solid #FFFFFF;
  background-color: inherit;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: #FFFFFF
}

.search-form__submit-button {
  align-self: end;
}

.content__details {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.content__details > .title {
  margin-bottom: 23px;
  margin-left: 3px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase; 
  text-align: left;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  max-height: 298px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  gap: 30px;
  justify-content: start;
  align-items: center;
}

.content__list {
  padding-top: 3px;
  width: 100%;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFFFFF;
}

.content__list-item {
  display: block;
  margin-bottom: 30px ;
  width: 100%;
  padding: 0 3px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline 1px solid #FFFFFF;
  cursor: pointer;
}

.content__card-link:focus {
  border: none;
}

.content__video-card-title {
  display: block;
  font-family: "Oswald", sans-serif;
  margin-bottom: 3px;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 191px;
  width: 100%;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  line-clamp: inherit;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
}

.content__video-card {
  display: flex;
  padding-left: 3px;
  align-content: space-between;
  justify-content: space-between;
} 

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  width: 100%;
  object-fit: contain;
  object-position: center;

}

.content__video-card-description-container {
  flex-grow: 1;
  width:100%;
  flex-direction: column;
  line-height: 100%;
}
/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
} 

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}